#frame {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}


#overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.5;
	margin: 0px;
	padding: 0px;
}

#settings {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
}